/*tema escuro*/
.modo-escuro {
  background-color:rgba(13, 13, 40, 1);
} 

.modo-escuro #cadastro form {
  background-color: rgba(13, 13, 40, 1);
  color: rgb(185, 227, 234)
}

.modo-escuro #cadastro h2 {
  color: rgb(185, 227, 234)
}

.modo-escuro #cadastro input,
.modo-escuro #cadastro select {
  background-color: rgb(255, 255, 255);
  color:rgba(42, 87, 97, 1);
}

.modo-escuro #obras {
  background-color: rgb(169, 207, 215);
  color:rgba(42, 87, 97, 1);
}

.modo-escuro #titulo-obras {
  color:rgb(255, 255, 255)
}

.modo-escuro #sobre {
  color: rgb(241, 241, 241);
}

.modo-escuro #sobre h2{
  color: rgb(185, 227, 234);
}

.modo-escuro #metricas {
  background-color: rgba(20, 76, 92, 0.575);
  color: rgba(42, 87, 97, 1);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
    background-color: rgb(230, 244, 247);
    color: rgb(51, 51, 51);
}

header {
    background-color: rgb(185, 227, 234);
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-area {
  display: flex;
 
}
#img_logo {
  width: 160px;
  margin-right: 5px;
}

.titulo h1 {
  margin: 0;
}

header h1 {
    font-size: 48px;
    font-weight: 500;
    color: rgb(43, 43, 43);
    font-family: 'Lancelot', cursive;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav li {
    background-color: rgb(255, 255, 255);
    width: 110px;
    text-align: center;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color:rgba(42, 87, 97, 1);
    font-weight: 100;
}

nav a:hover {
    text-decoration: underline;
}

#icones {
  display: flex;
  gap: 20px;   
  align-items: center;
}

#icones i {
  font-size: 32px;
}

#tema {
  font-size: 22px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: white;
}

main {
    margin: 40px auto;
}

section {
    margin-bottom: 40px;
}

section h2 {
    margin-bottom: 10px;
    color:rgba(42, 87, 97, 1);
    font-weight: 600;
    font-size: 32px;
}

#sobre {
    width: 100%;
    padding: 30px 0;
    margin-left: 50px;
}

#sobre article {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

#sobre p{
    margin-top: 5px;
    font-family: 'Lancelot', cursiv;
    font-size: 32px;
    text-align: justify;
    margin-right: 40%;
}

#cadastro {
    width: 100%;
    padding: 60px 0;
    background-image: url("imgs/img_cadrastro.png");
    background-repeat: repeat;
    background-size: 500px;

}

#cadastro form {
    background-color: #b9e3ea;
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    color:rgba(42, 87, 97, 1);
}

#cadastro h2 {
    text-align: center;
    margin-bottom: 20px;
}

#cadastro input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: rgba(216, 232, 235, 1);
}

#cadastro select{
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: rgba(216, 232, 235, 1);
   color: rgb(122, 174, 183);
}

#cadastro button {
    margin-top: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
}

input::placeholder {
  color: rgb(122, 174, 183);
}

button:hover {
    background-color: rgb(90, 166, 181);
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 25px;
  flex-direction: row;  
  flex-wrap: nowrap;  
}   

button {
  padding: 14px 32px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  min-width: 200px;
  width: auto;    
  margin: 0;  
  color: rgba(42, 87, 97, 1);    
}

#titulo-obras {
  display: none;
  margin-left: 60px;
  margin-top: 40px;
  color: rgba(42, 87, 97, 1);
  font-size: 32px;
  font-weight: 600;
}

#obras {
  background-color: rgb(169, 207, 215);
  color: rgba(42, 87, 97, 1);
  padding: 40px;
  width: 80%;           
  margin-left: 60px;    
  margin-top: 20px;
  border-radius: 20px;
  display: none;
}

#obras h2 {
  margin-bottom: 24px;
  letter-spacing: 1px;
  font-size: 32px;
}

.card {
  background-color:rgba(154, 195, 205, 1);
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  position: relative;
}

.card h1 {
  margin: 0 0 16px 0;
  font-size: 32px;
}

.card p {
  margin: 8px 0;
}

#footer {
  background-color: #b9e3ea;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  color: rgb(26, 26, 26);
}

#footer img {
  width: 300px;
}

#contatos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contatos div {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
}

#contatos i {
  font-size: 32px;
}

#linha {
  width: 1px;
  height: 120px;
  background-color: rgb(26, 26, 26);
}

#links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  margin-right: 400px;
}

ul{
  list-style-type: none;
}

#metricas {
  width: 100%;
  margin: 30px auto;
  padding: 24px;
  display: none;
  background-color: rgba(42, 87, 97, 1);
  color: rgba(42, 87, 97, 1);
  margin-top: 40px;
}

#botoes-metricas {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding-top: 20px;
  gap: 10px;
}

#botoes-metricas button {
  background-color: rgba(154, 195, 205, 1);
  border-radius: 20px;
  padding: 8px 18px;
  font-size: 14px;
  cursor: pointer;
}

.resultado {
  background-color:rgba(154, 195, 205, 1);
  padding: 18px 22px;
  border-radius: 15px;
  margin-bottom: 12px;
  font-size: 26px;
  font-weight: bold;
  display: none;
  width: 84%;
  margin: 10px auto;
}


@media (max-width: 768px) {

  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  nav {
    margin-left: 0; 
  }

  nav ul {
    justify-content: center;
    margin-top: 10px;
  }

  #icones {
    margin-left: 0;
    padding-top: 20px;
    justify-content: center;
  }

  #buttons {
    flex-direction: column;  
    align-items: center;
  }

  #buttons button {
    width: 220px;   
    height: 50px;  
    font-size: 18px;
  }

  #sobre {
    margin-left: 0;
    padding: 20px;
  }

  #sobre p {
    margin-right: 0; 
    font-size: 28px;
  }

  #btn-desejos{
     width: 170px;
  }

  #cadrasto{
    width: 300px;
  }

  #obras,
  #titulo-obras {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #cadastro form {
    max-width: 95%;   
    padding: 20px;    
  }

  #linha{
    width: 30%;
    height: 1px;
  }
  
  #footer {
    flex-direction: column;
    gap: 20px;
  }

  #links {
    margin-right: 0;  
    align-items: center;
  }

   #metricas {
    width: 90%;
    margin: 20px auto;
  }

  #botoes-metricas {
    flex-direction: column;
    gap: 12px;
  }

  #botoes-metricas button {
    width: 100%;
    font-size: 16px;
    padding: 12px;
  }

  .resultado {
    width: 100%;
    font-size: 22px;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  nav {
    margin-left: 0;
  }

  nav ul {
    margin-top: 20px;
    gap: 15px;
  }

  #icones {
    margin-left: 0;
    padding-top: 20px;
    justify-content: center;
  }

  #sobre {
    margin-left: 0;
    padding: 30px;
  }

  #sobre p {
    margin-right: 0;
    font-size: 22px;
  }

  #cadastro form {
    max-width: 85%;
    padding: 25px;
  }

  button {
    font-size: 20px;
  }

  #obras,
  #titulo-obras {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #footer {
    flex-direction: column;
    gap: 20px;
  }

  #linha{
    width: 30%;
    height: 1px;
  }

  #links {
    margin-right: 0;
    text-align: center;
  }

  #metricas {
    width: 90%;
    margin: 30px auto;
  }

  #botoes-metricas {
    gap: 15px;
  }

  #botoes-metricas button {
    flex: 1;
    font-size: 16px;
    padding: 10px;
  }

  .resultado {
    font-size: 24px;
  }
}
